/*
  Possible Animations:
  enter
  leave
  appear Must set transitionAppear={true} on animation component
*/

.order-enter
  transform translateX(-120%)
  max-height 0
  padding 0 !important
  transition transform 0.5s
  &.order-enter-active
    transform translateX(0)
    max-height 60px
    padding 2rem 0 !important

.order-leave
  transform none
  transition transform 0.5s
  height 60px

  &.order-leave-active
    padding 0 !important
    transform translateX(-120%)

.count-enter
  transition all 0.25s
  transform translateY(100%)

  &.count-enter-active
    transform translateY(0)
    
.count-leave
  transition all 0.25s
  transform translateY(0)
  position absolute
  bottom 0
  left 0
  
  &.count-leave-active
    transform translateY(-100%)

